<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/shared :: common-header">

<body>

<div th:replace="common/shared :: navbar"></div>

<div th:replace="common/shared :: jumbotron"></div>

<!-- Page Content -->

<div class="container text-center">
    <h4>Amazing news!</h4>
    <h6>All of our deliveries are free of charge! We deliver everywhere, anytime or any place.</h6>
    <h6>Enjoy!</h6>
    <a href="https://dribbble.com/shots/6322090-New-Illustrations-Delivery?fbclid=IwAR1MKRBarOzBUxaqJk3XHSuqz3L5eAp7-TwuDHJRzUUbauhUykIcn1GxDCc">
        <div class="deliveryImage"></div>
    </a>
</div>

<!-- End of page Content -->

<div th:replace="common/shared :: footer"></div>

<div th:replace="common/shared :: bottom-scripts"></div>
</body>


</html>