<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/shared :: common-header">

    <div th:replace="common/shared :: navbar"></div>

<body>

<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="background-color:ghostwhite;">
                <div class="card-body">
                    <br>
                    <h4 class="card-title text-center font-italic">Forgotten Password?</h4>

                    <div class="text-center font-italic signUpText">Enter the e-mail address that you registered with
                        and we'll send you a temporary password
                    </div>
                    <br><br>

                    <p th:if="${userDoesNotExist}" style="color:darkred; text-align:center;"><strong>There are no users
                        registered with this e-mail address</strong></p>
                    <p th:if="${passTokenInvalid}" style="color:darkred; text-align:center;"><strong>Password reset
                        token is invalid</strong></p>
                    <p th:if="${tokenExpired}" style="color:darkred; text-align:center;"><strong>Your token has
                        expired</strong></p>

                    <form class="form-signin" th:action="@{/forgottenPassword}" method="post">
                        <div class="form-label-group">
                            <input type="email" id="email" name="email"
                                   class="form-control font-weight-light font-italic" placeholder="Email" required>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-outline-secondary btn-block btn-sm font-weight-bold"
                                type="submit">Retrieve Password
                        </button>
                        <hr>
                        <div class="font-italic" style="text-align:center; font-size:13px;">Already a member? <a
                                th:href="@{/login}" class=" font-italic">Sign In</a></div>
                        <div class="font-italic" style="text-align:center; font-size:13px;">Not a member yet? <a
                                th:href="@{/signup}" class=" font-italic">Create an Account</a></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Page Content -->

<div th:replace="common/shared :: footer"></div>

<div th:replace="common/shared :: bottom-scripts"></div>
</body>


</html>