<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </div>
</head>

<body>

<div style=";font-family: 'Trebuchet MS', Helvetica, sans-serif;box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.3);border-radius:1rem;width:80%; color:black;">
    <div style="text-align: center; padding: 10px;">
        <h2>Dear <span th:text="${#strings.capitalize(user.username)}"></span>,</h2>
        <p>I've received a request to change the password for your Bookstore online account. If you sent the request,
            please click below within the next 24 hours.</p>
        <br>
        <a name="verify" th:href="@{${url}}" target="_blank"
           style="padding:10px;border-radius:1rem; background: #449DD1; outline: 0; cursor: pointer; color: #fff; box-shadow: 0px 2px 2px 0px Gray !important; height: 45px; width: 199px; font-size: 12px; text-decoration: none;">Reset
            Your Password</a>
        <br>
        <br>
        <p> If you haven't asked me to change your password, your online account will remain safe and secure, protected
            by your existing password, and you don't need to do anything.</p>
        <p>Thanks, Eimantas</p>
    </div>
</div>
</body>
</html>