<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/shared :: common-header">

    <div th:replace="common/shared :: navbar"></div>
<body>

<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="background-color:ghostwhite;">
                <div class="card-body">
                    <br>
                    <h4 class="card-title text-center font-italic">Create Your Account</h4>
                    <div class="text-center font-italic signUpText">You can start shopping once you register</div>
                    <br>

                    <p th:if="${emailExists}" style="color:firebrick; font-size:14px;text-align:center;">Email already
                        exists.</p>

                    <p th:if="${usernameExists}" style="color:firebrick; font-size:14px; text-align:center;">Username
                        already exists.</p>

                    <form class="form-signin" th:action="@{/registration}" method="post">
                        <div class="form-label-group">
                            <input type="text" id="username" name="username"
                                   class="form-control font-weight-light font-italic" placeholder="Username" required
                                   autofocus>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <input type="email" id="email" name="email"
                                   class="form-control font-weight-light font-italic" placeholder="Email" required>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <input type="password" id="password" name="password"
                                   class="form-control font-weight-light font-italic" placeholder="Password" required>
                            <br>
                        </div>
                        <button class="btn btn-lg btn-outline-secondary btn-block btn-sm font-weight-bold"
                                type="submit">Register
                        </button>
                        <hr>
                        <div class="font-italic" style="text-align:center; font-size:13px;">Already have an account? <a
                                th:href="@{/login}">Sign In</a></div>
                        <div style="text-align:center; font-size:13px;"><a th:href="@{/forgottenPassword}"
                                                                           class=" font-italic">Forgotten Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Page Content -->


<div th:replace="common/shared :: footer"></div>

<div th:replace="common/shared :: bottom-scripts"></div>
</body>


</html>