<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/shared :: common-header"></div>

    <!-- TinyMCE Plugin script for the description tab -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>

</head>
<body>

<div th:replace="common/shared :: navbar"></div>

<div th:replace="common/shared :: jumbotron"></div>

<!--Page Content -->

<div class="container">
    <form th:action="@{/admin/updateBook}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend class="center-block" style="text-align:center;">
                Update Book Information<span style="font-size:small;"> * is a required field
                </span>

            </legend>

            <input hidden="hidden" name="id" th:value="${book.id}"/>

            <div class="form-row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <!-- Title -->
                    <div class="form-group">
                        <label for="title"><strong>Title</strong> *</label>
                        <input type="text" name="title" id="title" th:value="${book.title}" class="form-control"
                               required="required">
                    </div>

                    <!-- Author -->
                    <div class="form-group">
                        <label for="author"><strong>Author</strong> *</label>
                        <input type="text" name="author" id="author" th:value="${book.author}" class="form-control"
                               required="required">
                    </div>

                    <div class="form-row">

                        <!-- Publisher -->
                        <div class="form-group col-md-6">
                            <label for="publisher"><strong>Publisher</strong></label>
                            <input type="text" name="publisher" id="publisher" th:value="${book.publisher}"
                                   class="form-control" required="required">
                        </div>

                        <!-- Goodreads Link -->
                        <div class="form-group col-md-6">
                            <label for="goodreadsUrl"><strong>Goodreads link</strong></label>
                            <input type="text" name="goodreadsUrl" id="goodreadsUrl" th:value="${book.goodreadsUrl}"
                                   class="form-control" required="required">
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- Genre -->
                        <div class="form-group col-md-4">
                            <label for="genre"><strong>Genre</strong></label>
                            <select th:value="${book.genre}" id="genre" name="genre" class="form-control"
                                    required="required">
                                <option value="" selected="selected" disabled="disabled">Please select an option...
                                </option>
                                <option value="Classics" th:selected="(${book.genre}=='Classics')">
                                    Classics
                                </option>
                                <option value="Science Fiction" th:selected="(${book.genre}=='Science Fiction')">Science
                                    Fiction
                                </option>
                                <option value="Fantasy" th:selected="(${book.genre}=='Fantasy')">Fantasy</option>
                                <option value="Crime &amp; Mystery"
                                        th:selected="(${book.genre}=='Crime &amp; Mystery')">Crime &amp; Mystery
                                </option>
                                <option value="Thriller" th:selected="(${book.genre}=='Thriller')">Thriller</option>
                                <option value="Fiction" th:selected="(${book.genre}=='Fiction')">Fiction</option>
                                <option value="Nonfiction" th:selected="(${book.genre}=='Nonfiction')">Nonfiction
                                </option>
                                <option value="Romance" th:selected="(${book.genre}=='Romance')">Romance</option>

                            </select>
                        </div>
                        <!-- Format -->
                        <div class="form-group col-md-4">
                            <label for="format"><strong>Format</strong></label>
                            <select th:value="${book.format}" id="format" name="format" class="form-control">
                                <option value="paperback">Paperback</option>
                                <option value="hardcover">Hardcover</option>
                            </select>
                        </div>

                        <!-- Publication Date -->
                        <div class="form-group col-md-4">
                            <label for="publicationDate"><strong>Publication Date</strong> *</label>
                            <input type="date" name="publicationDate" id="publicationDate" class="form-control"
                                   th:value="${book.publicationDate}" required="required">
                        </div>
                    </div>
                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="numberOfPages"><strong>Number of Pages</strong> *</label>
                            <input type="number" name="numberOfPages" id="numberOfPages" class="form-control"
                                   th:value="${book.numberOfPages}" required="required" min="1">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="stock"><strong>Stock</strong> *</label>
                            <input type="number" name="stock" id="stock" class="form-control" th:value="${book.stock}"
                                   th:required="required" min="1">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="isbn"><strong>ISBN</strong></label>
                            <input type="number" name="isbn" id="isbn" class="form-control" th:value="${book.isbn}">
                        </div>

                    </div>
                    <br>
                    <div class="form-row">

                        <!--Retailer Recommended Price -->
                        <div class="form-group col-md-6">
                            <label for="boughtPrice"><strong>Retailer Price</strong> *</label>
                            <input type="number" name="boughtPrice" id="boughtPrice" class="form-control"
                                   th:value="${book.boughtPrice}" required="required" min="1" step=".01">
                        </div>

                        <!-- Our Price -->
                        <div class="form-group col-md-6">
                            <label for="ourPrice"><strong>Our Price</strong> *</label>
                            <input type="number" name="ourPrice" id="ourPrice" class="form-control"
                                   th:value="${book.ourPrice}"
                                   required="required" min="1" step=".01">
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label for="description"><strong>Description</strong> *</label>
                        <textarea name="description" id="description" rows="5" cols="25" class="form-control"
                                  th:value="${book.description}" th:text="${book.description}" required="required">
                        </textarea>
                    </div>

                    <!-- Image Upload -->
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="bookImage" name="bookImage"
                                   th:value="${book.bookImage}">
                            <label class="custom-file-label" for="bookImage">Cover of the Book *</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-success">Update Book</button>
                        </div>

                        <div class="form-group col-md-3">
                            <input type="button" name="reset" value="Clear Form" class="btn btn-secondary"
                                   onclick="customReset();"/>
                        </div>

                        <div class="form-group col-md-6">
                            <img th:src="${book.imagePath}" class="img-responsive img-thumbnail rounded mx-auto d-block"
                                 style="height:300px;"/>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </fieldset>
    </form>
</div>
<!-- End of Page Content-->

<div th:replace="common/shared :: footer"></div>

<div th:replace="common/shared :: bottom-scripts"></div>

</body>


</html>