<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/shared :: common-header">

    <div th:replace="common/shared :: navbar"></div>
<body>

<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="background-color:ghostwhite;">
                <div class="card-body">
                    <br>
                    <h4 class="card-title text-center font-italic">Choose your new password</h4>

                    <div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">

                        <div class="card-title text-center font-italic font-weight-light"></div>
                        <br>
                        <form class="form-signin" th:action="@{/saveNewPassword}" method="post">
                            <div class="form-label-group">
                                <input type="password" id="password" name="newPassword"
                                       class="form-control font-weight-light font-italic" placeholder="New Password"
                                       required>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <input type="password" id="passwordConfirm" name="confirmPassword"
                                       class="form-control font-weight-light font-italic" placeholder="Confirm Password"
                                       required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-outline-secondary btn-block btn-sm font-weight-bold"
                                    type="submit">Change Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Page Content -->


<div th:replace="common/shared :: footer"></div>

<div th:replace="common/shared :: bottom-scripts"></div>

</body>


</html>